ul{
    list-style: none;
    margin: 2rem auto;
    width: 90%;
    max-width:20rem;
    box-shadow:0 2px 8px rgba(0, 0, 0, .26);
    border-radius: 15px;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 36rem;
    background-color: whitesmoke;
}

li{
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 2px solid lightgrey;
    padding: 1rem;

}
li:last-of-type,
li:nth-child(6){
    border-bottom: none;
}

li a{
    text-decoration: none;
    color:darkgray;
}

li a:hover,
li a:active {
    color:purple;
   
}